In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
from tqdm import tqdm_notebook

In [2]:
days = ['01', '02', '03', '04', '05', '06', '07', '08', '09'] + list(range(10, 32)) #2 digits are always required
list1 = ['Aug', 'Sep', 'Oct', 'Nov', 'Dec']
list2 = ['Jan', 'Feb', 'Mar', 'Apr', 'May']

month_dict = {
    'Jan': '01',
    'Feb': '02',
    'Mar': '03',
    'Apr': '04',
    'May': '05',
    'Jun': '06',
    'Jul': '07',
    'Aug': '08',
    'Sep': '09',
    'Oct': '10',
    'Nov': '11',
    'Dec': '12'
}

## Extracting league table data from beginning of last season until now

In [4]:
position = []
Club = []
GD = []
Points = []
Played = []
Dates = []

for x in tqdm_notebook(list1):
    for y in tqdm_notebook(days):
    
        url = 'https://www.twtd.co.uk/league-tables/competition:premier-league/daterange/fromdate:2018-Aug-01/todate:2018-{}-{}/type:home-and-away/'.format(x, y)
        r = requests.get(url)
        soup = BeautifulSoup(r.text, 'html.parser')

        #for each web page, iterate through the teams extracting their name, position and goal difference
        
        table = soup.find('table', attrs = {'class': 'leaguetable'})
        for team in table.find_all('tr')[1:]:
            try:
                position.append(team.find_all('td')[0].text)
            except:
                position.append(np.nan)

            try:
                Club.append(team.find_all('td')[1].text.strip())
            except:
                Club.append(np.nan)
                
            try:
                Played.append(team.find_all('td')[2].text)
            except:
                Played.append(np.nan)

            try:
                GD.append(team.find_all('td')[-2].text)
            except:
                GD.append(np.nan)

            try:
                Points.append(team.find_all('td')[-1].text)
            except:
                Points.append(np.nan)
        
        
               
            Dates.append('2018-{}-{}'.format(month_dict[x], y))

    
for x in tqdm_notebook(list2):
    for y in tqdm_notebook(days):
    
        url = 'https://www.twtd.co.uk/league-tables/competition:premier-league/daterange/fromdate:2018-Aug-01/todate:2019-{}-{}/type:home-and-away/'.format(x, y)
        r = requests.get(url)
        soup = BeautifulSoup(r.text, 'html.parser')

        #for each web page, iterate through the teams extracting their name, position and goal difference
        
        table = soup.find('table', attrs = {'class': 'leaguetable'})
        for team in table.find_all('tr')[1:]:
            try:
                position.append(team.find_all('td')[0].text)
            except:
                position.append(np.nan)

            try:
                Club.append(team.find_all('td')[1].text.strip())
            except:
                Club.append(np.nan)
                
            try:
                Played.append(team.find_all('td')[2].text)
            except:
                Played.append(np.nan)

            try:
                GD.append(team.find_all('td')[-2].text)
            except:
                GD.append(np.nan)

            try:
                Points.append(team.find_all('td')[-1].text)
            except:
                Points.append(np.nan)
        
        
               
            Dates.append('2019-{}-{}'.format(month_dict[x], y))    
    

League_Positions = pd.DataFrame({'Position': position,
                                 'Team': Club,
                                 'Points': Points,
                                 'Goal_Difference' : GD,
                                 'Played': Played,
                                 'Date' : Dates
                                 })

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

HBox(children=(IntProgress(value=0, max=31), HTML(value='')))

HBox(children=(IntProgress(value=0, max=31), HTML(value='')))

HBox(children=(IntProgress(value=0, max=31), HTML(value='')))

HBox(children=(IntProgress(value=0, max=31), HTML(value='')))

HBox(children=(IntProgress(value=0, max=31), HTML(value='')))

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

HBox(children=(IntProgress(value=0, max=31), HTML(value='')))

HBox(children=(IntProgress(value=0, max=31), HTML(value='')))

HBox(children=(IntProgress(value=0, max=31), HTML(value='')))

HBox(children=(IntProgress(value=0, max=31), HTML(value='')))

HBox(children=(IntProgress(value=0, max=31), HTML(value='')))

In [5]:
position = []
Club = []
GD = []
Points = []
Played = []
Dates = []

for x in tqdm_notebook(list1):
    for y in tqdm_notebook(days):
    
        url = 'https://www.twtd.co.uk/league-tables/competition:premier-league/daterange/fromdate:2019-Aug-01/todate:2019-{}-{}/type:home-and-away/'.format(x, y)
        r = requests.get(url)
        soup = BeautifulSoup(r.text, 'html.parser')

        #for each web page, iterate through the teams extracting their name, position and goal difference
        
        table = soup.find('table', attrs = {'class': 'leaguetable'})
        for team in table.find_all('tr')[1:]:
            try:
                position.append(team.find_all('td')[0].text)
            except:
                position.append(np.nan)

            try:
                Club.append(team.find_all('td')[1].text.strip())
            except:
                Club.append(np.nan)
                
            try:
                Played.append(team.find_all('td')[2].text)
            except:
                Played.append(np.nan)

            try:
                GD.append(team.find_all('td')[-2].text)
            except:
                GD.append(np.nan)

            try:
                Points.append(team.find_all('td')[-1].text)
            except:
                Points.append(np.nan)
        
        
               
            Dates.append('2019-{}-{}'.format(month_dict[x], y))
    
    
    
League_Positions2 = pd.DataFrame({'Position': position,
                                 'Team': Club,
                                 'Points': Points,
                                 'Goal_Difference' : GD,
                                 'Played': Played,
                                 'Date' : Dates
                                 })

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

HBox(children=(IntProgress(value=0, max=31), HTML(value='')))

HBox(children=(IntProgress(value=0, max=31), HTML(value='')))

HBox(children=(IntProgress(value=0, max=31), HTML(value='')))

HBox(children=(IntProgress(value=0, max=31), HTML(value='')))

HBox(children=(IntProgress(value=0, max=31), HTML(value='')))

In [6]:
League_Positions2.head()

  Position                      Team Points Goal_Difference Played        Date
0        1                 Liverpool      3               3      1  2019-08-10
1        2              Norwich City      0              -3      1  2019-08-10
2        1           Manchester City      3               5      1  2019-08-11
3        2                 Liverpool      3               3      1  2019-08-11
4        3  Brighton and Hove Albion      3               3      1  2019-08-11

In [7]:
#create Game_Week 0 and shift the dates so that they match up
# this ensures that all predictive data is only what was available before the match for both seasons
Pos = list(np.repeat(1, 20))
Tm1 = League_Positions.Team.sort_values().unique()
Pnts = list(np.repeat(0, 20))
GD = list(np.repeat(0, 20))
GW = list(np.repeat(0, 20))
F1 = list(np.repeat('2018-08-10', 20))


GWzero1 = pd.DataFrame({'Position': Pos,
                         'Team': Tm1,
                         'Points': Pnts,
                         'Goal_Difference' : GD,
                         'Played': GW,
                       'Date': F1,
                       
                                 })

Tm2 = League_Positions2.Team.sort_values().unique()
F2 = list(np.repeat('2019-08-09', 20))

GWzero2 = pd.DataFrame({'Position': Pos,
                         'Team': Tm2,
                         'Points': Pnts,
                         'Goal_Difference' : GD,
                         'Played': GW,
                       'Date': F2,
                       
                                 })

In [8]:
df1 = pd.concat([GWzero1, League_Positions])
df2 = pd.concat([GWzero2, League_Positions2])

In [9]:
df = pd.concat([df1, df2])

In [10]:
#League_Positions.Position.replace('\xa0', np.nan, inplace = True)

In [11]:
#League_Positions.Position.ffill(inplace = True)

In [12]:
df.Position = df.Position.astype(int)
df.Goal_Difference = df.Goal_Difference.astype(int)
df.Points = df.Points.astype(int)

In [13]:
try:    
    df.Date = pd.to_datetime(df.Date, format='%Y/%m/%d')
except:
    pass
#League_Positions.To = pd.to_datetime(League_Positions.To, format='%d/%m/%Y')
#League_Positions.From.dt.strftime('%d/%m/%Y')

In [14]:
df.head()

,Position,Team,Points,Goal_Difference,Played,Date
0,1,AFC Bournemouth,0,0,0,2018-08-10
1,1,Arsenal,0,0,0,2018-08-10
2,1,Brighton and Hove Albion,0,0,0,2018-08-10
3,1,Burnley,0,0,0,2018-08-10
4,1,Cardiff City,0,0,0,2018-08-10

In [15]:
standings = df

In [16]:
standings.Team.unique()

array(['AFC Bournemouth', 'Arsenal', 'Brighton and Hove Albion',
       'Burnley', 'Cardiff City', 'Chelsea', 'Crystal Palace', 'Everton',
       'Fulham', 'Huddersfield Town', 'Leicester City', 'Liverpool',
       'Manchester City', 'Manchester United', 'Newcastle United',
       'Southampton', 'Tottenham Hotspur', 'Watford', 'West Ham United',
       'Wolverhampton Wanderers', 'Aston Villa', 'Norwich City',
       'Sheffield United'], dtype=object)

In [17]:
#Alter any team names that are in the wrong format
standings['Team'] = ['Bournemouth' if i == 'AFC Bournemouth' else i for i in standings['Team']]
standings['Team'] = ['Man City' if i == 'Manchester City' else i for i in standings['Team']]
standings['Team'] = ['Man United' if i == 'Manchester United' else i for i in standings['Team']]
standings['Team'] = ['Tottenham' if i == 'Tottenham Hotspur' else i for i in standings['Team']]
standings['Team'] = ['Wolves' if i == 'Wolverhampton Wanderers' else i for i in standings['Team']]
standings['Team'] = ['Leicester' if i == 'Leicester City' else i for i in standings['Team']]
standings['Team'] = ['Newcastle' if i == 'Newcastle United' else i for i in standings['Team']]
standings['Team'] = ['Brighton' if i == 'Brighton and Hove Albion' else i for i in standings['Team']]
standings['Team'] = ['Norwich' if i == 'Norwich City' else i for i in standings['Team']]
standings['Team'] = ['West Ham' if i == 'West Ham United' else i for i in standings['Team']]
standings['Team'] = ['Huddersfield' if i == 'Huddersfield Town' else i for i in standings['Team']]
standings['Team'] = ['Cardiff' if i == 'Cardiff City' else i for i in standings['Team']]

In [20]:
standings.isnull().sum().sum() #double check the data frame is pure and clean

0

In [21]:
LP = df.to_csv('../CSV/LP.csv', index=False)